<!DOCTYPE html>
<html>
  <head>
    <title> BIGGG BOII </title>
  </head>
  <body>

    <h1> Meme Generator </h1>
    <img height = '200px' width = '200px' src="{{memeDict['url']}}">
    <h2> Welcome to Meme Generator </h2>
    <h3> Refresh for a new meme! </h3>

    <form method = POST action= '/memeresult'>
      <input type ='hidden' name = 'hidden' value = '{{memeDict['id']}}'>
      Line1 of meme: <br>
      <input type = 'text' name='user-first-ln' value='First line of meme' ><br>
      Line2 of meme: <br>
      <input type = 'text' name='user-second-ln' value = 'Second line of meme' >

      <select name = 'meme-type'>
          <option value= "college-grad"> Happy College Grad </option>
          <option value = "thinking-ape"> Deep Thought Monkey</option>
          <option value = "squidward-dabbing"> Dabbing Squidward</option>
          <option value = "old-classroom"> Old Classroom </option>
        </select> <br>
        <input type = 'submit' value = 'go!'>
      </form>
  </body>
</html>
